<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Список серверов</h1>

<table class="table table-bordered">
  <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">server name</th>
        <th scope="col">server id</th>
        <th colspan="2" scope="col">Distr</th>
        <th scope="col">CPU</th>
        <th scope="col">RAM</th>
        <th scope="col">status</th>
        <th scope="col">status</th>
      </tr>
    </thead>
    <tbody>

      {% for item in servers %}



      <tr>
        <th scope="row">1</th>

        <td>{{ item.name }}</td>
        <td>{{ item.id }}</td>
        <td><img src="{{ image_list_dict[ item.image].img_src }}"/>
        </td>

        <td>{{ image_list_dict[ item.image].name }}          </td>
        <td>{{item.flavor.cpu }}</td>
        <td>{{item.flavor.ram }}</td>
        <td class='{{ servers_dict[item.id ].bg_color }}' >{{item.status }}
          </td>
          <td>{{ servers_dict[item.id ].ip }}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>
  <h1>Список образов операционных систем</h1>
<table class="table table-bordered table-sm">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th  scope="col">Image Id</th>
        <th scope="col" colspan="2" >Image Name</th>

      </tr>
    </thead>
    <tbody>

      {% for item in image_list %}



      <tr>
        <th scope="row">1</th>

        <td>{{ item.id }}</td>
          <td><img src="{{ image_list_dict[ item.id].img_src }}"/>          </td>
        <td>{{ item.name }}</td>

      </tr>
    {% endfor %}
    </tbody>
</table>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
</html>
